amqp==5.3.1
asgiref==3.8.1
async-timeout==5.0.1
autopep8==2.3.1
billiard==4.2.1
CacheControl==0.14.2
cachetools==5.5.2
celery==5.4.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
confluent-kafka==2.8.0
cron-descriptor==1.4.5
cryptography==44.0.1
Django==5.1.2
django-celery-beat==2.7.0
django-cors-headers==4.5.0
django-environ==0.12.0
django-redis==5.4.0
django-silk==5.3.2
django-timezone-field==7.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
dnspython==2.7.0
firebase-admin==6.6.0
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.2
google-cloud-firestore==2.20.0
google-cloud-storage==3.0.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.68.0
gprof2dot==2024.6.6
grpcio==1.70.0
grpcio-status==1.70.0
httplib2==0.22.0
idna==3.10
kombu==5.4.2
mongoengine==0.29.1
msgpack==1.1.0
prompt_toolkit==3.0.50
proto-plus==1.26.0
protobuf==5.29.3
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.12.1
pycparser==2.22
PyJWT==2.10.1
pymongo==4.11.1
pyparsing==3.2.1
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
redis==5.2.1
requests==2.32.3
rsa==4.9
six==1.17.0
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
gunicorn==23.0.0
django-structlog==9.1.1
python-json-logger==3.3.0
prometheus-client==0.21.1
structlog==25.2.0